flet==0.24.1
RPi.GPIO==0.7.1a4
lgpio==0.2.2.0
rpi-rotary-encoder==0.2.0
pyky040==0.1.4
adafruit-circuitpython-neopixel==6.3.12
adafruit-circuitpython-led-animation==2.9.3
scikit-learn==1.5.2
playsound==1.3.0
playsound3==3.2.3
python-vlc==3.0.21203
gpiozero==2.0
pyalsaaudio==0.8.4
pillow==11.3.0
CairoSVG==2.8.2
requests==2.32.5
netifaces==0.11.0
rpi-ws281x==5.0.0
isort==6.0.1
flake8==7.3.0
black==25.9.0
