[Unit]
Description=Retro.I Service
StartLimitIntervalSec=0
# Run service after network connection established
After=network.target
[Service]
Type=simple
Restart=always
RestartSec=1
User=pi
ExecStart=./~/Desktop/start_up.sh

[Install]
WantedBy=multi-user.target